body {
  background-color: pink;
}
h1 {
  background-image: url(2.jpeg);
  background-repeat: repeat;
  background-size:700px 150px;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight:50px ;
  text-align: center;
  text-transform:: 100px;
  padding:100px;
} 
h2{
  color:purple;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-weight:1px ;
  padding: 1px;
}
select{
  color:peru;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  font-weight:100px ;
}
form{
  color:black;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  font-weight:50px ;
  margin: 20px;
  padding: 10px;
  background-image: url(3.jpeg);
  background-repeat: no-repeat;
  background-size:350px;

}
button{
  color: blueviolet;
  margin: 50px;
}
